// .personalities{
//     display: flex;
//     position: relative;
//     justify-content: space-between;
//     .profile{
//         width: 450px;
//         border: 3px solid #62001C;
//         border-radius: 12px;

//         position: relative;

//         background: white;
// z-index: 30;
//         &::before{
//             // content: '';
//             // width: 550px;
//             // height: 400px;
//             // position: absolute;
//             // background-color: white;
//             // border-radius: 12px;
//             // box-shadow: 0px 0px 23px rgba(0, 0, 0,0.3);
//             // left: -54px;
//             // top: 54px;
//             // bottom: 54px;
//             // z-index: 1;
//         }
//         .container{
//             position: relative;
//             width: "100%";
//             display: flex;
//             height: 400px;
//             margin: 14px;
//             flex-direction: column;
//             border-radius: 12px;
//             overflow: hidden;
//             z-index: 123;
//             .membership{
//                 position: absolute;

//             }
//             // .profile_image{
//             //     width: '100%';
//             //     height: '100%';

//             // }
//             .profile_bottom_info{
//                 position: absolute;
//                 bottom: 0;
//                 background:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
//                 color: white;
//                 left: 0;
//                 right: 0;

//                 h2{
//                     font-size: 32px;
//                     padding-left: 15px;
//                 }
//                 .mile{
//                     display: flex;
//                     gap:12px;
//                     align-items: center;
//                     padding-left: 12px;
//                     padding-bottom: 23px;
//                 }
//                 .matchrange{
//             background:  #C62251;
//             padding: 15px;
//             text-align: center;
//                 }
//             }
//         }
//         .profile_navigation{
//             display: flex;
//             width: '100%';
//             justify-content:center;
//             align-items: center;
//             gap:18px;
//             padding: 23px;
//             button{
//                 background: #f6f6f6;
//                 border: 0;
//                 height: 54px;
//                 width: 54px;
//                 border-radius: 42px;
//                 font-size: 18px;
//             }
//         }
//     }
// }


.tab_match{

    border-bottom: 1px solid #f4f4f4;
    padding-left: 34px;
    padding-right: 34px;
    ul{


        height:74px;
        align-items: center;

        display: flex;
        .active-tab{
            color: #c9023a;
            border-bottom: 4px solid #c9023a;
            transition: all .3 ease;
            cursor: pointer;
        }
        li{
            display: flex;
            align-items: center;
            gap: 12px;
            border-bottom: 4px solid #fff;
            height: 70px;
            font-size: 18px;
            font-weight: bold;
            padding-left: 21px;
            padding-right: 21px;
            cursor: pointer;
            transition: all .3 ease;

            p{
                small{
                    font-size: 12px;
                }
            }
        }
    }
}

.choiceBtn{

    height: 65px;
    font-size: 18px;
    font-weight: bold;
    border-top: 0;
    border-right: 0;
    border-left: 8px solid #fff;
    border-bottom: 0;
    background:transparent;
    cursor: pointer;

    &:hover{
        background:#FFE0E9;
        border-left: 8px solid #c9023a;
        cursor: pointer;
    }


}
.choiceBtnActive{
    height: 65px;
    font-size: 18px;
    font-weight: bold;
    border-top: 0;
    border-right: 0;
    background:#FFE0E9;
    border-left: 8px solid #c9023a;
    border-bottom: 0;
    cursor: pointer;
}
